<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Susmitha Anandarao. It uses data from Mapbox and WeatherStack.</p>
        <img class="portrait" src="/img/me.JPG">
    </div>
    
    {{>footer}}
</body>

</html>